<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rosehulman.salenotifier"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TrackedItemsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemSearchActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:parentActivityName=".TrackedItemsActivity"
            android:label="@string/title_activity_item_search" >
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:parentActivityName=".ItemSearchActivity"
            android:label="@string/title_activity_search_results" >
            
        </activity>
        <activity
            android:name=".BarcodeScannerActivity"
            android:parentActivityName=".ItemSearchActivity"
            android:label="@string/title_activity_barcode_scanner" >
        </activity>
        <activity
            android:name=".AppSettingsActivity"
            android:parentActivityName=".TrackedItemsActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/title_activity_app_settings" >
        </activity>
        <activity
            android:name=".ItemSettingsActivity"
            android:parentActivityName=".TrackedItemsActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/title_activity_item_settings" >
        </activity>
    </application>

</manifest>
